/*typography-th-th.css: Thailand-Thai*/
/*Importing hps-thai-core*/
/*REGULAR*/
@font-face {
  font-family: 'HPSimplified';
  src: url("../fonts/hps/thai-regular-eot.eot");
  /* IE9 compat */
  src: url("../fonts/hps/thai-regular-eot.eot?#iefix") format("embedded-opentype"), url("../fonts/hps/thai-regular-woff.woff") format("-woff.woff"), url("../fonts/hps/thai-regular-ttf.ttf") format("truetype");
  /*iOS, Android, Safari*/
  font-weight: normal;
  font-style: normal; }

/*BOLD*/
@font-face {
  font-family: 'HPSimplified';
  src: url("../fonts/hps/thai-bold-eot.eot");
  /* IE9 compat */
  src: url("../fonts/hps/thai-bold-eot.eot?#iefix") format("embedded-opentype"), url("../fonts/hps/thai-bold-woff.woff") format("-woff.woff"), url("../fonts/hps/thai-bold-ttf.ttf") format("truetype");
  /*iOS, Android, Safari*/
  font-weight: bold;
  font-style: normal; }

/*LIGHT*/
@font-face {
  font-family: 'HPSimplifiedLight';
  src: url("../fonts/hps/thai-light-eot.eot");
  /* IE9 compat */
  src: url("../fonts/hps/thai-light-eot.eot?#iefix") format("embedded-opentype"), url("../fonts/hps/thai-light-woff.woff") format("-woff.woff"), url("../fonts/hps/thai-light-ttf.ttf") format("truetype");
  /*iOS, Android, Safari*/
  font-weight: normal;
  font-style: normal; }

/*REGULAR ITALIC*/
@font-face {
  font-family: 'HPSimplified';
  src: url("../fonts/hps/thai-regular-italic-eot.eot");
  /* IE9 compat */
  src: url("../fonts/hps/thai-regular-italic-eot.eot?#iefix") format("embedded-opentype"), url("../fonts/hps/thai-regular-italic-woff.woff") format("-woff.woff"), url("../fonts/hps/thai-regular-italic-ttf.ttf") format("truetype");
  /*iOS, Android, Safari*/
  font-weight: normal;
  font-style: italic; }

/*BOLD ITALIC*/
@font-face {
  font-family: 'HPSimplified';
  src: url("../fonts/hps/thai-bold-italic-eot.eot");
  /* IE9 compat */
  src: url("../fonts/hps/thai-bold-italic-eot.eot?#iefix") format("embedded-opentype"), url("../fonts/hps/thai-bold-italic-woff.woff") format("-woff.woff"), url("../fonts/hps/thai-bold-italic-ttf.ttf") format("truetype");
  /*iOS, Android, Safari*/
  font-weight: bold;
  font-style: italic; }

/*LIGHT ITALIC*/
@font-face {
  font-family: 'HPSimplifiedLight';
  src: url("../fonts/hps/thai-light-italic-eot.eot");
  /* IE9 compat */
  src: url("../fonts/hps/thai-light-italic-eot.eot?#iefix") format("embedded-opentype"), url("../fonts/hps/thai-light-italic-woff.woff") format("-woff.woff"), url("../fonts/hps/thai-light-italic-ttf.ttf") format("truetype");
  /*iOS, Android, Safari*/
  font-weight: normal;
  font-style: italic; }

/*Importing typography-non-western*/
body, input {
  font-family: HPSimplified, Arial; }

body {
  font-size: 100%; }

h1, h2, h3 {
  font-weight: bold; }

h1 {
  font-size: 30px;
  font-size: 1.875rem;
  /*=30px*/
  line-height: 36px;
  line-height: 2.25rem;
  /*=36px*/
  margin-bottom: 9px;
  margin-bottom: 0.5625rem;
  /*=9px*/ }

h2 {
  font-size: 24px;
  font-size: 1.5rem;
  /*=24px*/
  line-height: 30px;
  line-height: 1.875rem;
  /*=30px*/
  margin-bottom: 5px;
  margin-bottom: 0.3125rem;
  /*=5px*/ }

h3 {
  font-size: 20px;
  font-size: 1.25rem;
  /*=20px*/
  line-height: 25px;
  line-height: 1.5625rem;
  /*=25px*/
  margin-bottom: 5px;
  margin-bottom: 0.3125rem;
  /*=5px*/ }

h4, h5, h6 {
  font-weight: normal;
  font-size: 16px;
  font-size: 1rem;
  /*=16px*/
  line-height: 18px;
  line-height: 1.125rem;
  /*=18px*/ }

/*Locale Specific Settings*/
